@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-surface: #fcf9f3;
    --color-on-surface: #1c1c18;
    --color-surface-container-low: #f6f3ed;
    --color-surface-container: #f0eee8;
    --color-surface-container-high: #ebe8e2;
    --color-surface-container-highest: #e5e2dc;
    --color-surface-bright: #fcf9f3;
    --color-surface-dim: #dcdad4;
    --color-surface-variant: #e5e2dc;
    --color-on-surface-variant: #434844;
    
    --color-primary: #18281e;
    --color-on-primary: #ffffff;
    --color-primary-container: #b8cbbc;
    --color-on-primary-container: #2d3e33;
    
    --color-secondary: #d17d56;
    --color-on-secondary: #ffffff;
    --color-secondary-container: #fdddb9;
    --color-on-secondary-container: #786044;
    
    --color-tertiary: #4a0f00;
    
    --color-outline: #737873;
    --color-outline-variant: #c3c8c2;

    --font-headline: "Playfair Display", serif;
    --font-body: "Inter", sans-serif;
    --font-label: "Inter", sans-serif;
  }
}

@layer utilities {
  .spotlight-overlay {
    background: radial-gradient(circle at 40% 30%, transparent 10%, rgba(14, 25, 20, 0.9) 65%);
  }

  .italic-left {
    display: inline-block;
    transform: skewX(15deg);
  }
}

